#container {
    position: relative;
    width: 600px;
    height: 600px;
    background: orange;
}

.child {
    position: absolute;
    width: 100px;
    height: 100px;
}

#top-left {
    background: red;
    top: 0;
    left: 0;
}

#top-right {
    background: green;
    top: 0;
    right: 0;
}